---
import logo from '../../images/logo.png'
import { Image } from 'astro:assets';
import facebook from '../../icons/socials/Facebook.svg'
import instagram from '../../icons/socials/Instagram.svg'
import linkedin from '../../icons/socials/LinkedIn.svg'
import twitter from '../../icons/socials/Twitter.svg'
import youtube from '../../icons/socials/YouTube.svg'
import emailIcon from '../../icons/Email.svg'
import phoneIcon from '../../icons/Phone.svg'
import locationIcon from '../../icons/Location.svg'
import Text from '../system/Text.astro'
import Constrain from '../system/Constrain.astro'
import theDotStudioLogo from '../../images/theDotStudioLogo.svg'

---
<div
  class='w-full pt-12 flex flex-col items-center text-black bg-[#f2f2f2]'>
  <div class='w-full px-16 max-md:px-6'>
    <Constrain class="flex flex-row max-md:flex-col justify-between">
      <div>
        <Image src={logo} alt="Glentree's Logo" class="w-[250px] max-md:w-[180px] flex-shrink-0 h-auto self-start" />
        <div class='flex flex-row mt-6'>
          <a target="_blank" href="https://www.facebook.com/Harshainternationalpublicschool/" class='mr-5'>
            <div class='h-[25px]'>
              <img src={facebook.src} alt="Facebook Icon" class="w-full h-full">
            </div>
          </a>
  
          <!-- <a target="_blank" href="https://twitter.com/EdifyEcity" class='mr-5'>
            <div class='h-[25px]'>
              <img src={twitter.src} alt="Twitter Icon" class="w-full h-full">
            </div>
          </a> -->
  
          <a target="_blank" href="https://www.instagram.com/harsha.international.school" class='mr-5'>
            <div class='h-[25px]'>
              <img src={instagram.src} alt="Instagram Icon" class="w-full h-full">
            </div>
          </a>
  
          <!-- <a target="_blank" href="https://www.linkedin.com/in/edify-school-electronic-city-5b373087/" class='mr-5'>
            <div class='h-[25px]'>
              <img src={linkedin.src} alt="Linkedin Icon" class="w-full h-full">
            </div>
          </a>
  
          <a target="_blank" href="https://www.youtube.com/channel/UCiuf4x5YQCWMIDtRb5zpY0g" class='mr-5'>
            <div class='h-[25px]'>
              <img src={youtube.src} alt="Youtube Icon" class="w-full h-full">
            </div> -->
          </a>
  
  
        </div>
      </div>
  
      <div class='flex flex-row gap-6 max-md:gap-0 max-md:flex-col'>
        
        <div class="bg-white/20 w-[5px] h-full max-md:h-[1px] max-md:w-full"></div>
        <div class='max-md:mt-8 max-md:mb-5 max-w-[500px]'>
          <Text type={'base'} class='text-black/70 !text-[18px] max-md:!text-[16px] uppercase tracking-[2.4px] mb-7 max-md:mb-3 font-semibold'>Contact us</Text>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5'>
              <Image src={emailIcon} alt="Email Icon" class="w-full h-full">
            </div>
            <a target='_blank' href="mailto:harshainternationalpublicschoo@gmail.com" class="hover:underline w-[90%]">
              <Text type={'regular'} class='ml-2'>harshainternationalpublicschoo@gmail.com</Text>
            </a>
          </div>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5 flex-shrink-0'>
              <Image src={phoneIcon} alt="Phone Icon" class="w-full h-full">
            </div>
            <div class="flex flex-row max-md:flex-col max-md:gap-1 max-md:gap-0">
              <a target='_blank' href='tel:+918028023600' class="hover:underline"><Text type={'regular'} class='ml-2'>+91 80 2802 3600</Text></a>
              <Text type="base" class="block max-md:hidden">,</Text>
              <a target='_blank' href='tel:+919483520215' class="hover:underline"><Text type={'regular'} class='ml-2'>+91 94835 20215</Text></a>
              <Text type="base" class="block max-md:hidden">,</Text>
              <a target='_blank' href='tel:+919483520216' class="hover:underline"><Text type={'regular'} class='ml-2'>+91 94835 20214</Text></a>
            </div>
          </div>

          <div class='flex flex-row items-start mb-3 '>
            <div class='w-5 mr-1 flex-shrink-0'>
              <Image src={locationIcon} alt="Location Icon" class="w-full h-full">
            </div>
            <a target='_blank' href="https://www.google.com/maps/dir//Harsha+International+Public+School+Nelamangala+Rd+Vijaya+Nagar+Bengaluru,+Karnataka+562123/@13.0930758,77.3962091,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bae2575f84dbc3b:0x6af875dad07962e4!2m2!1d77.3962091!2d13.0930758">
              <Text type={'regular'} class='ml-2'>No. 193/1, Byraveshwaranagar, Sondekoppa Circle, NH 4, Nelamangala, Bangalore - 562 123, Karnataka, India.</Text>
            </a>
          </div>

        </div>
        <!-- <div class='max-md:mt-8 max-md:mb-5 max-w-[325px]'>
          <Text type={'base'} class='text-green-300 mb-7 max-md:mb-3 font-semibold'>Whitefield</Text>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5 flex-shrink-0'>
              <Image src={emailIcon} alt="Email Icon" class="w-full h-full">
            </div>
            <a target='_blank' href="mailto:admission.wf@glentreeacademy.coms" class="hover:underline">
              <Text type={'regular'} class='ml-2'>admission.gaw@glentreeacademy.com</Text>
            </a>
          </div>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5'>
              <Image src={phoneIcon} alt="Phone Icon" class="w-full h-full">
            </div>
            <a target='_blank' href='tel:+917899738130' class="hover:underline"><Text type={'regular'} class='ml-2'>+91 7899738130</Text></a>
  
          </div>
  
          <div class='flex flex-row items-start mb-3 '>
            <div class='w-[2.25rem]'>
              <Image src={locationIcon} alt="Location Icon" class="w-full h-full">
            </div>
            <a target='_blank' href="https://goo.gl/maps/1RTX2F4ZwJipSuEy9">
              <Text type={'regular'} class='ml-2'>Nallurhalli Rd, Palm Meadows, Nallurhalli, Whitefield, Bengaluru, Karnataka 560066</Text>
            </a>
          </div>
        </div>
        <div class='ml-16 max-md:ml-0 max-w-[325px]'>
          <Text type={'base'} class='text-green-300 mb-7 max-md:mb-3 font-semibold'>Sarjapur</Text>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5'>
              <Image src={emailIcon} alt="Email Icon" class="w-full h-full">
            </div>
            <a target='_blank' href="mailto:admission.gas@gltreeacademy.com" class="hover:underline w-[90%]">
              <Text type={'regular'} class='ml-2'>admission.gas@glentreeacademy.com</Text>
            </a>
          </div>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5'>
              <Image src={phoneIcon} alt="Phone Icon" class="w-full h-full">
            </div>
            <a target='_blank' href='tel:+919632104368' class="hover:underline"><Text type={'regular'} class='ml-2'>+91 9632104368</Text></a>
          </div>
  
          <div class='flex flex-row items-start mb-3 '>
            <div class='w-[2.25rem] mr-1'>
              <Image src={locationIcon} alt="Location Icon" class="w-full h-full">
            </div>
            <a target='_blank' href="https://goo.gl/maps/2WjJv85fKSJg6yfm6">
              <Text type={'regular'} class='ml-2'>No.36/5,Halanayakanahalli,Varthur Hobli Bengaluru East Taluk,Bengaluru, Karnataka 560035</Text>
            </a>
          </div>
        </div> -->
        
      </div>
    </Constrain>
  </div>

  <!-- <div class='w-full h-[1px] bg-black/30 mt-12 max-md:mt-5 max-md:w-[85%]'></div> -->

  <div class='py-6 font-normal px-16 w-full  max-md:px-6 text-center'>
    <Constrain class="flex flex-row max-md:flex-col items-center justify-between">
      <div class="flex flex-row items-center max-md:flex-col">
        <Text type={'regular'}>
          Copyright © 2023 &nbsp;
        </Text>
        <!-- <Text type={'regular'}>
          <span class="max-md:hidden">{' • '}</span> 
          <br class="hidden max-md:block" />
          <a 
            href="/privacy-policy" 
            class="underline"
          >Privacy Policy</a>
          
        </Text> -->
      </div>
      <div class="max-md:pt-3 pt-0"></div>
      <div>
        <a href="https://thedotstudio.in/" target="_blank">
          <Image src={theDotStudioLogo} class="w-[250px] max-md:w-[200px]" alt={"The Dot Studio Logo"} />
        </a>
      </div>
    </Constrain>
  </div>
</div>