---
import QuoteIcon from '../../icons/quoteIcon.png'

import heroTestimonial from '../../images/heroTestimonial.png'
import testimonial1 from '../../img/testimonial1.png'
import testimonial2 from '../../img/testimonial2.png'
import Button from '../system/Button.astro';
import Constrain from '../system/Constrain.astro';
import Text from '../system/Text.astro';
import { Image } from 'astro:assets';
import HarshaTestimonial1 from '../../images/HarshaTestimonial1.jpg'
import HarshaTestimonial2 from '../../images/HarshaTestimonial2.jpg'
import HarshaTestimonial3 from '../../images/HarshaTestimonial3.jpg'

import vedanta from '../../images/testimonial/vedanta.jpg'
import nikhil from '../../images/testimonial/nikhil.jpg'
import yash from '../../images/testimonial/yash.jpg'
import TestimonicalCard from './TestimonialCard.astro';

import YoutubeEmbed from '../YoutubeEmbed.astro'


const testimonials = [
  {
    image: vedanta,
    quote: "I feel proud that my daughter is a part of such an elite institution where they are taught by great teachers, whose teaching goes way beyond the classroom. Chairman Sir is known for his wonderful administration and the high achievements of the Institutions he is in charge of. HIPS focusses on the overall development of the child. I’m pleased with the fact that my child is growing not only academically, but also in areas of dance, music, craft, etc.",
    author: 'Savitha Kumaran',
    role: 'Parent of Nikhil Kumaran (Grade 12)'
  },
    {
      image: yash,
      quote: "The school has been providing the best education a student would need and it’s best school around. The management and the teachers here are focused on the betterment, well-being and overall development of the students from the very beginning of a student’s schooling. It’s a proud thing to say that both my kids studied at Harsha International Public School and that it’s their alma mater.",
      author: 'Prashant',
      role: 'Parent of Arya and Arpitha (Grade 3)'
    },
    {
      image: nikhil,
      quote: "We have witnessed massive and exponential development in my son. he is so blessed to have teachers such as the ones in HIPS and I feel exceptionally obliged to have my son studying in HIPS. Thanks for your endurance, quality care, enthusiasm, diligent efforts and passion you provide each and every day. My son feels very comfortable and he tries to follow his teacher as a role model at home.",
      author: 'Aman Choudhary',
      role: 'XII Science'
    },
  ]

---
<div class='bg-white p-14 pt-24 max-md:pt-6 px-20 max-md:px-4 max-md:p-10 max-md:pb-0'>
  <Constrain class="relative flex flex-col items-center max-md:items-center max-md:text-center">

    <!-- <Text type={'subtitle'} class='text-black text-center w-full max-md:hidden' style={{ letterSpacing: '0.1em', opacity: 0.6 }}>Hear From Our Community</Text>
    <Text type={'h2'} class='text-black mt-3 relative max-md:hidden'>
      See why <span class='text-accent2'>Glentree</span> is trusted
      <div class='w-[84px] h-[67px] absolute -top-16 -left-28'>
        <Image src={QuoteIcon} class='w-full' alt="Left Quote" />
      </div>
      <div class='w-[84px] h-[67px] absolute -bottom-2 -right-32 -scale-100'>
        <Image src={QuoteIcon} class='w-full' alt="Right Quote" />
      </div>
    </Text> -->

    <Text type={'h2'} class='text-black mt-3 relative max-md:block'>
      <div>
        <span class="text-accent">Our Success </span>Stories
      </div>
      <div class='w-[84px] h-[67px] absolute -top-[10px] -left-[140px] text-[128px] font-bold text-white' style={{
        textShadow: '0 0 3px rgba(59, 138, 224, 60%), -6px 4px 2px rgba(59, 138, 224, 0.64)'
      }}>
        “
      </div>
      <div class='w-[84px] h-[67px] absolute top-[70px] -right-[150px] text-[128px] font-bold text-white -scale-x-100' style={{
        textShadow: '0 0 3px rgba(59, 138, 224, 60%), 6px 4px 2px rgba(59, 138, 224, 0.64)'
      }}>
        “
      </div>
    </Text>
    <Text type="base" class="mt-1 font-[600] tracking-[0.7px] text-center">Shaping a Brighter Future for Your Child.</Text>
    <div class="max-md:p-0 p-6" />

    <div class="w-[70%] relative left-[20%] h-[2px] self-start max-md:mt-8" style={{
      background: 'linear-gradient(to left, rgb(3, 55, 112) 0%, rgb(162, 205, 251) 100%)'
    }}></div>

    <div class="pt-[48px] max-md:pt-[28px]" />

    <TestimonicalCard
        quote={testimonials[0].quote}
        author={testimonials[0]?.author}
        role={testimonials[0]?.role}
        image={testimonials[0].image}
        ctaText={testimonials[0].ctaText}
        ctaLink={testimonials[0].ctaLink}
        className="bg-transparent"
        imageWidth={450}
        imageHeight={450}
        imageClass="min-w-[435px] max-md:min-w-[unset] !max-h-[unset]"
    />
    <div class="flex flex-row gap-7 max-sm:flex-col max-sm:gap-0 mt-16 max-md:mt-2">
      {[testimonials[1], testimonials[2]].map(item => {
        return (
          <TestimonicalCard
              quote={item.quote}
              author={item?.author}
              role={item?.role}
              image={item.image}
              ctaText={item.ctaText}
              ctaLink={item.ctaLink}
              className="bg-transparent"
          />
        )
      })}
    </div>
    <div class="max-md:p-0 p-[40px]" />

    <div class="w-[70%] relative left-[5%] h-[2px] self-start" style={{
      background: 'linear-gradient(to right, rgb(3, 55, 112) 0%, rgb(162, 205, 251) 100%)'
    }}></div>
  
    <!-- <YoutubeEmbed embedId={'d-A17Q46EvI'} videoId='0' /> -->
    <YoutubeEmbed embedId={'GjJE1dh_wA4'} videoId='1' />
    <YoutubeEmbed embedId={'9o0X53CHTTE'} videoId='2' />
  </Constrain>
  </div>
