---
import Layout from '../layouts/Layout.astro';
import TopNavigationBar from '../components/TopNavigationBar.astro';

import Facilities from '../components/register/facilities.astro';

import Testimonial from '../components/landingPage/Testimonial.astro';
import '../global.css'

import '@fontsource/nunito-sans';
import Footer from '../components/landingPage/Footer.astro';
import Text from '../components/system/Text.astro';
import Button from '../components/system/Button.astro';
import { Image } from 'astro:assets';
import RegisterForm from '../components/register/registerForm.astro'
import Slide from '../components/system/Slide.astro';
import hipsMantra from '../images/hipsMantra.png'

import slide1 from "../images/hero/9.jpg";
import slide2 from "../images/hero/4.jpg";
import slide3 from "../images/hero/8.png";
import slide1MB from "../images/hero/mb/9.jpg";
import slide2MB from "../images/hero/mb/4.jpg";
import slide3MB from "../images/hero/mb/8.png";

import Ticker from '../components/Ticker.astro'


import whyHarsha1 from '../images/whyHarsha1.png'
import whyHarsha2 from '../images/whyHarsha2.png'
import whyHarsha3 from '../images/whyHarsha3.png'
import whyHarsha4 from '../images/whyHarsha4.png'
import harshaSchoolBg from '../images/harshaSchoolBg.png'


import crimsonEdgeBG from '../img/school/crimsonEdgeBG.png'

import AcademicCard from '../components/AcademicCard.astro';

import underlineSVG from '../img/underline.svg'
import BentoGrid from '../components/BentoGrid.astro';

// import auditorium from '../images/infra/auditorium.png'
import auditorium from '../images/extraCurricular/auditorium.jpg'
// import chemistryLab from '../images/infra/chemistryLab.png'
import computerLab from '../images/infra/computerLab.jpg'
import NIITMathLab from '../images/extraCurricular/math-lab.jpg'
import physicsLab from '../images/infra/physicsLab.png'
import library from '../images/infra/library.jpg'
import smartClass from '../images/infra/smartClass.jpg'

import chemistryLab from '../images/extraCurricular/chemistry-lab.jpg'
import biologyLab from '../images/extraCurricular/biology-lab.jpg'


import campusTour from '../images/campusTour.mp4'

import "swiper/css";

import "swiper/css/navigation";
import "swiper/css/pagination";
import Connect from '../components/Connect.astro';

const faqs = [
  {
    question: 'How do I apply for admission to Glentree Academy?',
    answer: ''
  },
  {
    question: 'What are the admission requirements?',
    answer: ''
  },
  {
    question: 'Is there an application deadline for admissions?',
    answer: ''
  },
  {
    question: 'What are the tuition fees for the programs?',
    answer: ''
  },
  {
    question: 'How do I schedule a campus visit?',
    answer: ''
  },
]

const infra = [
  {
    text: 'Computer Lab',
    alt: 'Computer Lab',
    image: computerLab,
  },
  {
    text: 'Smart Class',
    alt: 'Smart Class',
    image: smartClass,
  },
  {
    text: 'Library',
    alt: 'Library',
    image: library,
  },
  {
    text: 'NIIT Math Lab',
    alt: 'NIIT Math Lab',
    image: NIITMathLab,
  },
  {
    text: 'Physics Lab',
    alt: 'Physics Lab',
    image: physicsLab,
  },
  {
    text: 'Chemistry Lab',
    alt: 'Chemistry Lab',
    image: chemistryLab,
  },
  {
    text: 'Biology Lab',
    alt: 'Biology Lab',
    image: biologyLab,
  },
  {
    text: 'Auditorium',
    alt: 'Auditorium',
    image: auditorium,
  },
]

---

<Layout title="Apply Now | Best CBSE School in Bangalore | Harsha International Public School">
  <main class="flex flex-col min-h-[98svh] max-md:h-auto w-screen relative overflow-hidden">
    <div 
      class="flex-1 flex flex-col main-container max-md:h-auto min-h-[98svh] w-screen  max-w-[100vw]"
      id="scroll-area"
    >

    
      <div class='flex flex-col max-md:h-auto min-h-[100svh] relative'>
        <TopNavigationBar hideMenu applyNowButtonId="register-page-apply-now" />
        <div id="register-form-container-mobile" />
        <div class="h-[80px] w-full bg-white"></div>

        <!-- <div class="bg-yellow p-2 text-center text-black flex flex-row max-md:flex-col justify-center items-center group">
          <Text type='regular' class="font-bold uppercase tracking-widest">Limited-period offer</Text>
          <div class="px-2" />
          <Text type='base' class="font-bold">Rs. 10,000 off on Admission Fees</Text>
        </div> -->

        <div class="w-full flex-1 h-full relative p-12 py-2 flex flex-row max-md:flex-col justify-between items-center max-md:p-8 max-md:px-4">
          <div class="w-full h-full absolute top-0 left-0 max-md:hidden">
            <Slide
              slides={[
                { image: slide1, position: 'center' },
                { image: slide3, position: 'center' },
                { image: slide2, position: 'bottom' },
              ]}
              id="resiter-page-hero"
            />
            <div 
              class="
                absolute w-full h-[25vh] bottom-0 left-0
                z-[5]
                opacity-60
              "
              style={{
                background: 'linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0.74%, rgba(0, 0, 0, 1) 30%, #000 100.29%);',
              }}
            />
          </div>

          <div class="w-full absolute top-0 left-0 max-md:block hidden h-[74vh] z-[2]">
            <Slide
              slides={[
                { image: slide1MB, position: 'top' },
                { image: slide2MB, position: 'top' },
                { image: slide3MB, position: 'top' }
              ]}
              id="resiter-page-hero-mb"
            />
            <div 
              class="
                absolute w-full h-[15vh] bottom-0 left-0
                hidden
                max-md:block
                bg-red-100
                z-[5]
                opacity-60
              "
              style={{
                background: 'linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0.74%, rgba(0, 0, 0, 1) 30%, #000 100.29%)',
              }}
            />
          </div>

          <div 
            class="
              absolute w-full h-full top-0 left-0
              hidden
              max-md:block
              bg-black/90
              z-[1]
            "
          >
            <!-- <Image src={skyBG} class="object-cover object-center" alt="Sky background" width={800} /> -->
          </div>

          <div class="max-md:p-[29vh] max-md:block hidden"  />

          <div class="h-full flex flex-row items-end relative z-20 self-end max-md:self-start max-md:w-full justify-center">
            <div class="flex flex-col items-start mb-10 max-md:mb-0">
              <Text type="h1" class="text-white leading-[120%] max-md:text-center">Unveiling Potential<span class="max-md:hidden inline !text-white">:</span> <br/><span class="!text-primaryYellow">Journey of Discovery</span></Text>
              <!-- <Text type="lg" class="text-white">Registrations Open for AY 2024-25</Text> -->
            </div>
          </div>
          <div class="max-md:py-1" />
          <RegisterForm />
        </div>
        <!-- <AdmissionMarquee class="max-md:!hidden" /> -->
        <!-- <div class="w-[50px] h-[50px] down-arrow-button transition-all duration-500 rounded-[50%] bg-accent border-accent/60 border-[4px] absolute top-[97vh] left-[50%] z-[9999] flex items-center justify-center max-md:hidden">
          <div class="w-[18px] h-[9px] down-arrow-icon">
            <Image src={DownArrow} alt="Down Arrow" class="w-full h-full object-cover" />
          </div>
        </div> -->
      </div>

      <div class='w-full p-14 text-black bg-white flex flex-col items-center max-md:p-6'>
        <Text type='h2' class='mt-3 text-black'>The HIPS <span class='text-accent'>Mantra</span></Text>
        <Text type="base" class="mt-6 text-center w-[70%] max-md:w-full">At HIPS, we care about your child's happiness and safety. Our friendly environment helps them grow and succeed. We're here to support your child, making sure they thrive and enjoy their time with us.</Text>

        <div class="flex flex-col justify-center gap-[40px] max-md:gap-3 w-full mt-[40px] max-md:mt-[20px]">
          <div class="flex flex-row justify-center max-md:flex-col w-full gap-[48px] text-white">
            <Image
              alt="The Hips Mantra"
              src={hipsMantra}
              class="w-full h-[458px] max-md:h-[350px] rounded-[12px] object-cover object-[1%_30%] max-md:object-[65%_1%]"
              width={1280}
            />
          </div>
        </div>
      </div>

   
      

    <div class='w-full pb-20 text-black bg-white flex flex-col items-center max-md:p-6'>
        <Text type='h2' class='mt-3 text-accent'>Why <span class='!text-black'>Choose Us</span></Text>
        <!-- <Text type="base" class="mt-6 text-center">Lorem ipsum dolor sit amet consectetur. Convallis nisl et odio massa curabitur vel.<br/> Nulla eu eu in justo nunc semper feugiat vitae diam.</Text> -->

      <div class="flex flex-col justify-center gap-[40px] max-md:gap-3 w-full mt-[40px]">
        <div class="flex flex-row justify-center max-md:flex-col w-full gap-[48px] text-white">
          <AcademicCard
            link="https://navigate-designer-808266.framer.app/academic-stages#pp-grade2"
            title="<span class='!text-primaryYellow'>Empower</span>, Explore, <span class='!text-primaryYellow'>Excel</span>"
            description="Our approach to academics is innovative and interactive, breaking free from traditional limits. Through audio/visual lectures, group discussions, and projects, we enhance critical thinking and creativity. This prepares your child for a complex world, uncovering their full potential."
            image={whyHarsha1}
          />
          <AcademicCard
            link="https://navigate-designer-808266.framer.app/academic-stages#grade3-grade5"
            title="Striking the <span class='!text-primaryYellow'>Perfect Balance</span>"
            description="We're committed to a balanced education—blending traditional and contemporary learning styles, embracing academics and co-curricular activities. Embracing the best of both worlds."
            image={whyHarsha2}
          />
        </div>
        <div class="flex flex-row justify-center max-md:flex-col w-full gap-[48px] text-white">
          <AcademicCard
            link="https://navigate-designer-808266.framer.app/academic-stages#grade6-grade8"
            title="<span class='!text-primaryYellow'>Voices Echo, </span>Friendships Bloom"
            description="Near Bangalore Central Railway Station, our 89,200 sq. m. campus offers lush greenery and modern infrastructure. World-class facilities, including a large 4,500 sq. m. playground, foster lifelong learning."
            image={whyHarsha3}
          />
          <AcademicCard
            link="https://navigate-designer-808266.framer.app/academic-stages#grade9-grade12"
            title="Experience Meets <span class='!text-primaryYellow'>Expertise</span>"
            description="Our experienced educators are here to guide your child. From academics to art, they offer tailored support. We prioritize real-world examples alongside textbooks, creating a dynamic learning environment."
            image={whyHarsha4}
          />
        </div>
      </div>
    </div>

    <Facilities />

    <div class="p-8 h-[400px] max-md:p-8 counter-stat flex flex-col max-md:flex-col justify-center items-center max-md:items-start max-md:justify-end w-full relative gap-4 max-md:gap-2">

      <!-- <Image src={harshaSchoolBg} alt="blob background" class="absolute top-0 left-0 w-full h-full object-cover -z-10" /> -->
      <video class="w-full h-full object-cover object-top absolute top-0 left-0" loop playsinline muted poster={harshaSchoolBg.src} autoplay>
        <source src={campusTour} type="video/mp4">
      </video>
      <div class="w-full h-full absolute top-0 left-0 z-2" style={{
        background: 'linear-gradient(180deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.8) 100%)'
      }}></div>
      <div class="flex flex-row items-end relative z-20">
        <div class="flex flex-row items-start max-md:mb-0 w-full">
          <Text type="h2" class="text-white leading-[120%] max-md:text-left"> Explore <span class="max-md:!text-primaryYellow" style={{color: "#E29D16"}}>Beyond</span> Boundaries</Text>
          <!-- <Text type="lg" class="text-white">Registrations Open for AY 2024-25</Text> -->
        </div>
      </div>
      <div class="hidden max-md:block pt-0"></div>
      <div
        class="flex flex-column items-end max-md:items-start flex-shrink-0"
        >
          <a
          href="https://www.youtube.com/watch?v=h7-j1iGBl-Y"
          target="_blank"
          class="daisy daisy-fixed daisy-3"
          >
            <Button buttonType="secondary">Watch Campus Tour</Button>
          </a>
      </div>
    </div>  

    <div class="py-8 w-full bg-[rgba(255,199,88,0.2)]">
      <div class="px-[120px] max-md:px-[20px] flex flex-col items-start max-md:items-center">
        <Text type='h2' class='mt-3 max-md:text-center'>Infrastructure <span>@ HIPS</span></Text>
        <Text type='base' class='mt-3 max-w-[730px] w-[80%] max-md:w-full max-md:text-center'>
          Welcome to our lively campus in Bangalore, where we celebrate every student's voice. With world-class facilities, a massive playground, and proximity to the city center, your child will thrive in a nurturing environment.
        </Text>
        <!-- <div class="pt-8" /> -->
        <!-- <Button type="secondary">View All</Button> -->
        <div class="pt-8" />
      </div>
      <Ticker 
        items={infra}
      />
    </div>

    <!-- <Scholarship /> -->
    <Testimonial />

    <Connect />


    <!-- <div class="w-full items-center flex flex-col bg-white">
      <div class="p-4" />

      <Text type="subtitle">THINGS TO NOTE</Text>
      <Text type='h2' class='mt-3 text-accent'>FAQs</Text>

      <div class="p-4" />
      <Faqs />
      <div class="p-3" />
    </div> -->


    

    <!-- <BigAdmissionCTA /> -->

    <!-- <GlentreeFamily /> -->
    <Footer />
    </div>


  </main>
</Layout>

<style>
  .float{
    position:fixed;
    /* background-color:#25d366; */
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index:100;
  }

  .float > div {
    opacity: 0;
    transition: 0.6s all ease-in-out
  }
  .float a:hover ~ div {
    opacity: 1;
  }

  .my-float{
    margin-top:16px;
  }

  .down-arrow-button {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    overflow: hidden;
  }
  
  .down-arrow-button:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255,255,255, 0) 30%,
        rgba(255,255,255, .8),
        rgba(255,255,255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
    animation: shineDownArrow 3s ease-out infinite;
  }
  
  @keyframes shineDownArrow {
    0% {left: -100px}
    20% {left: 100%}
    100% {left: 100%}
  }
</style>

<script>
  // !function(f,b,e,v,n,t,s)
  // {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  // n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  // if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  // n.queue=[];t=b.createElement(e);t.async=!0;
  // t.src=v;s=b.getElementsByTagName(e)[0];
  // s.parentNode.insertBefore(t,s)}(window, document,'script',
  // 'https://connect.facebook.net/en_US/fbevents.js');
  // fbq('init', '761269661457213');
  // fbq('track', 'PageView');
</script>


<script>
  const counter = (EL) => {

      const duration = 1000;

      const start = parseInt(EL.textContent, 10);
      const end = parseInt(EL.dataset.counter, 10); 

      if (start === end) return; 

      const range = end - start;
      let curr = start;

      const timeStart = Date.now();

      const loop = () => {
        let elaps = Date.now() - timeStart;
        if (elaps > duration) elaps = duration; 
        const frac = elaps / duration; 
        const step = frac * range;
        curr = start + step; 
        EL.textContent = Math.trunc(curr); 
        if (elaps < duration) requestAnimationFrame(loop); 
      };

      requestAnimationFrame(loop); 
  };
  function isInViewport(element) {
      const rect = element.getBoundingClientRect();
      console.log(rect.bottom)
      return (
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) 
      );
  }
  function checkElementVisibility() {
    const element = document.querySelector('.counter-stat');
    if (isInViewport(element)) {
      document.querySelectorAll("[data-counter]").forEach(counter);

    } else {
        console.log('Element is not in view');
    }
  }

checkElementVisibility();

// Then setup scroll event listener
window.addEventListener('scroll', checkElementVisibility)



  // @@ts-ignore

  const academicBoxes = document.querySelectorAll('.academic-boxes')
  document.querySelectorAll('.academic-boxes').forEach((academicBox) => {
    academicBox.addEventListener('mouseenter', () => {
      academicBox.classList.add('hovered')
    })
    academicBox.addEventListener('mouseleave', () => {
      academicBox.classList.remove('hovered')
    })
  })

  const pixelContactTargets = document.querySelectorAll('[data-pixel-contact-target]')

  pixelContactTargets.forEach((pixelContactTarget) => {
    pixelContactTarget.addEventListener('click', () => {
      fbq('track', 'Contact');
    })
  })

  // dev script temp
  const applyNowButtons = document.querySelectorAll(`[data-apply-now-button="register-page-apply-now"]`)
  applyNowButtons.forEach((applyNowButton => {
    applyNowButton?.addEventListener('click', () => {
      if (window.innerWidth > 768) {
        const registerFormContainer = document.getElementById('register-form-container-desktop')
        registerFormContainer?.scrollIntoView({ behavior: 'smooth' })
      } else {
        const registerFormContainer = document.getElementById('register-form-container-mobile')
        registerFormContainer?.scrollIntoView({ behavior: 'smooth' })
      }
    })
  }))

  import collapsible, { openCollapsible } from '../components/admissions/collapsible'
  collapsible('.collapsible', null)

  const downArrowButton = document.querySelector('.down-arrow-button')
  document.addEventListener('scroll', (e) => {
    // after scrolling 100px, show the button
    if (window.scrollY > window.innerHeight / 5) {
      downArrowButton?.classList.add('opacity-0')
    }
  })
  const mainContainer = document.querySelector('.main-container')
  if (mainContainer) {
  }
</script>
